.bars-space{
padding-top: 20px;
}
.list-title{
    background-color: #E5E8E8;
    border: 1px solid gainsboro;
    text-align: center;
    border-radius: 0px !important;
    
}
.space{
    margin-bottom: 10px;
}