.header-style{
    background-color:  #4CAF50 !important;
    color: white !important;
    border-radius: 0px !important;
    border: 2px solid #4CAF50;
    font-size: 20px;
 }
 .card-space{
     margin-bottom: 10px;
 }